<!DOCTYPE html>
<html lang="en">
<head>
    <title>ITM 780 Lab 2</title>
</head>
body { 
    font-family: Arial, serif;
    font-size: 12pt;
    background-color: #F5F5F5;
    color: #2C2C2C ;
    margin: 15pt;
}

h1 {
    font-size: 24pt;
    color: #1A1A1A;
    text-align: center;


}

h2 {
    font-size: 20pt;
    color: #333333

}

h3 {
    font-size: 18pt;
    color: #444444;

}

p {
    font-size: 12pt;
    color:  #2C2C2C;

}

a {
    color: #0000EE;
}

a:hover {
    color: #551A8B; 
    text-decoration: underline;
}

a:active {
    color: #FF0000; 
    text-decoration: underline;
}


ul, ol {
    font-size: 12pt;
}

div {
    margin: 10pt;
    padding: 10pt;
    border: 1px solid #DDDDDD; 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20pt;
}

td {
    padding: 10pt;
    border: 1px solid #CCCCCC;
}