
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 12pt;
    background-color: #E9ECEF; 
    color: #2C3E50; 
    margin: 15pt;
}

h1 {
    font-size: 28pt;
    color: #1F618D;
    text-align: center;
}

h2 {
    font-size: 22pt;
    color: #2E86C1;
}

h3 {
    font-size: 18pt;
    color: #5DADE2; 
}

p {
    font-size: 12pt;
    color: #34495E; 
}

a {
    color: #2980B9;
}

a:hover {
    color: #1ABC9C;
    text-decoration: underline;
}

a:active {
    color: #E74C3C; 
    text-decoration: underline;
}

a:inactive {
    color: #34495E;
    text-decoration: underline;
}

ul, ol {
    font-size: 12pt;
}

div.class:Text {
    margin: 10pt;
    padding: 10pt;
    border: 1px solid #B3C6D6; 
    background-color: #D6EAF8; 
}

div.class:link {
    margin: 10pt;
    padding: 10pt;
    border: 1px solid #566573; 
    background-color: #5D6D7E; 
}

table th, td {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20pt;
}

td {
    padding: 10pt;
    border: 1px solid #ABB2B9; 
}
